<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.whu.lilab.creativity.mapper.DocumentVenuesMapper">
  <resultMap id="BaseResultMap" type="cn.edu.whu.lilab.creativity.domain.DocumentVenues">
    <!--@mbg.generated-->
    <!--@Table document_venues-->
    <id column="venue_id" jdbcType="INTEGER" property="venueId" />
    <result column="document_id" jdbcType="INTEGER" property="documentId" />
    <result column="venue_display_name" jdbcType="VARCHAR" property="venueDisplayName" />
    <result column="venue_name" jdbcType="VARCHAR" property="venueName" />
    <result column="venue_year" jdbcType="VARCHAR" property="venueYear" />
    <result column="venue_volume" jdbcType="VARCHAR" property="venueVolume" />
    <result column="venue_issue" jdbcType="VARCHAR" property="venueIssue" />
    <result column="venue_page" jdbcType="VARCHAR" property="venuePage" />
    <result column="venue_type" jdbcType="VARCHAR" property="venueType" />
    <result column="data_source" jdbcType="VARCHAR" property="dataSource" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    venue_id, document_id, venue_display_name, venue_name, venue_year, venue_volume, 
    venue_issue, venue_page, venue_type, data_source
  </sql>
</mapper>