<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.whu.lilab.creativity.mapper.MetricsMapper">
  <resultMap id="BaseResultMap" type="cn.edu.whu.lilab.creativity.domain.Metrics">
    <!--@mbg.generated-->
    <!--@Table metrics-->
    <id column="document_id" jdbcType="INTEGER" property="documentId" />
    <result column="metric_value" jdbcType="VARCHAR" property="metricValue" />
    <result column="metric1_value" jdbcType="VARCHAR" property="metric1Value" />
    <result column="metric2_value" jdbcType="VARCHAR" property="metric2Value" />
    <result column="metric3_value" jdbcType="VARCHAR" property="metric3Value" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    document_id, metric_value, metric1_value, metric2_value, metric3_value
  </sql>
</mapper>